/* Now let's style it */

body {
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

#clock {
    /* margin: 0px auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 60px;
}